<template name="header">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" id="brandName" href="{{pathFor 'updateBook'}}">Brand</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menu-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collpase navbar-collapse" id="menu-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{pathFor 'addBook'}}">Add Book</a></li>
                <li><a href="{{pathFor 'profile'}}">Profile</a></li>
                <li><a href="{{pathFor 'ViewBookList'}}">ViewBookList</a></li>
            </ul>
        </div>

    </nav>

</template>